<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Auction Pro</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Items</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/items/add"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Add Item</a
          >
        </li>
        <li class="nav-item" *ngIf="this.authService.loginStatus">
          <a
            class="nav-link"
            routerLink="/buy/bids"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >My Bids</a
          >
        </li>

        <li class="nav-item" *ngIf="!this.authService.loginStatus">
          <a
            class="nav-link"
            routerLink="/signup"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Sign Up</a
          >
        </li>
        <li class="nav-item" *ngIf="!this.authService.loginStatus">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active"
            >Sign In</a
          >
        </li>
        <li class="nav-item" *ngIf="this.authService.loginStatus">
          <a class="nav-link" routerLink="/" (click)="signOut()">Sign Out</a>
        </li>
      </ul>
      <!-- <form class="d-flex w-25" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search an item"
          aria-label="Search"
          name="itemName"
          [(ngModel)]="itemName"
        />
        <button
          class="btn btn-primary"
          [disabled]="itemName.length == 0"
          type="button"
          (click)="searchItem()"
        >
          <i class="bi bi-search"></i>
        </button>
      </form> -->
    </div>
  </div>
</nav>
